TELEGRAM_BOT_TOKEN=
ADMIN_TELEGRAM_BOT_TOKEN=
ADMIN_TELEGRAM_IDS=
DATABASE_URL=postgres://postgres:postgres@localhost:5432/the_cycle_club
DATABASE_MIGRATIONS_RUN=true
TELEGRAM_BOT_MODE=polling
CLOSED_GROUP_CHAT_ID=
PAYMENT_MODE=mock
WAYFORPAY_MERCHANT_ACCOUNT=
WAYFORPAY_SECRET_KEY=
WAYFORPAY_MERCHANT_DOMAIN=
ADMIN_TELEGRAM_ID=
MANAGER_TELEGRAM_ID=
APP_URL=http://localhost:3000
PORT=3000
